{{#if resume.work.length}}
<section class="section-work">
	{{>title title='Experience'}}
	{{#each resume.work}}
		{{#if company}}
			<div class="item">
				<span class="date">
					{{#if startDate}}
						<span class="startDate position">
							{{formatDate startDate}}
						</span>
					{{/if}}
					{{#if endDate}}
						<span class="endDate position">
							- {{formatDate endDate }}
						</span>
					{{else}}
						<span class="endDate position">
							- Present
						</span>
					{{/if}}
				</span>
				 | 
				{{#if company}}
					<span class="position">
						{{#if website}}
							<a href="{{website}}" class="position">{{company}}</a>
						{{else}}
							{{company}}
						{{/if}}
					</span>
				{{/if}}
				 | 
				{{#if position}}
					<span class="position">
						{{position}}
					</span>			
				{{/if}}
				{{#if summary}}
					<br/>
					<span class="summary">
						{{summary}}	
					</span>	
				{{/if}}
				{{#if highlights.length}}
					<br/>
					<span class="summary">
						Highlights:
					</span>				
					<ul class="highlights">
						{{#each highlights}}
							{{#startsWith "-" .}}
								<li class="circle subhighlights">{{ parseWorkText (trim (replaceFirst . "-" ""))}} {{{parseWorkTech (trim (replaceFirst . "-" ""))}}}</li>
							{{else}}
							  <li>{{parseWorkText .}} {{{parseWorkTech .}}}</li>
							{{/startsWith}}
						{{/each}}
					</ul>
				{{/if}}
			</div>
		{{/if}}
	{{/each}}
</section>
{{/if}}
